extends layout

block content
  script(src="/javascripts/bootstrap-datepicker.js" charset="UTF-8")
  link(rel="stylesheet" type="text/css" href="stylesheets/bootstrap-datepicker3.standalone.css")
  h1= title
  p Welcome to #{title}
  div#app
    script(src='/javascripts/app/index.js')
