extends layout

block content
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet', href='https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css')
  h1= title
  p Welcome to #{title}
  div#app
    script(src='/javascripts/app/index.js')
