doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bs/css/bootstrap.css')
    link(rel='stylesheet', href='/fa/css/font-awesome.css')
  body
    block content
    //div.btn-group-vertical
    //  button.btn.btn-success Test Button
    //  button.btn.btn-success Test Button
    //p.lead
    //  | This app app will have the following
    //  ul
    //    li welcome page with a start round button
    //    li after start round it will ask for basic details such as handicap and course name
    //    li once course is selected it will have 18 inputs, one for each hole
    //    li once the round is done it will total the scores and display scores for stroke, match and stablefold games.
    //
    //p.lead
    //  a(href="https://github.com/darylfx/golf_score_card")
    //    i.fa.fa-github.fa-3x
    //  a(href="https://www.pivotaltracker.com/n/projects/2074755")
    //    i.fa.fa-ge.fa-3x