body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-body {
  background: #D9E3F0
}

.circle-picker{
  margin-top: 14px;
}

thead{
  background: #ABB8C3;
}
